body {
    text-align: center;
    font-family: cursive;
}

h1 {
    font-size: 40px;
    padding: 2%;
    border : 2px solid black;
    background-color: #858fb4;
}

.timer {
    display:inline-block;
    padding: 5px;
    margin: 2px;
    font-size: 20px;
    font-weight: 600;
    border : 2px;
    border-radius: 15px;
    background-color: #fcdd9d;
}

.question-area {
    margin-top: 85px;
    border: 2px solid black;
    background-color: #f9b8af;
    padding: 10px;
    border-radius: 20px;
}

.options-area{
    font-family: cursive;
    font-weight: 400;
}

.next-button button{
    background-color: #ffe797;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    font-family: cursive;
}